{{ define "main" }}
  <article class="content-container content-grid">
    <header class="content-grid-header">
      <h1 class="content-grid-title">{{- .Title -}}</h1>
    </header>
    <aside class="content-grid-side">
      <div class="nav-sticky">
        <h2>タグ</h2>
        {{ .Scratch.Set "tag-activetags" (.GetTerms "tags") }}
        {{ .Scratch.Set "tag-onlyactive" false }}
        {{ partial "tag.html" . }}
      </div>
    </aside>
    <section class="content-grid-main">
      <section class="md-content">{{- .Content -}}</section>
      <h2>記事一覧</h2>
      <nav class="md-content">
        {{/* サブカテゴリに属すページをサブカテゴリ毎に表示 */}}
        {{ $children := where .Pages ".Kind" "==" "section" }}
        {{ range $children.ByLinkTitle }}
          <h3><a class="nav-category" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          <ul>
            {{ range where .Pages.ByLinkTitle ".Kind" "==" "page" }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
            {{ range where .Pages.ByLinkTitle ".Kind" "==" "section" }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }} [{{ len .RegularPagesRecursive }}]</a></li>
            {{ end }}
          </ul>
        {{ end }}
        {{/* 直下ページへのリンクを表示 */}}
        {{ $subsec_len := len $children}}
        {{ $children := where .Pages ".Kind" "==" "page" }}
        {{ if gt (len $children) 0 }}
          {{ if gt $subsec_len 0}}<h3>その他</h3>{{ end }}
          <ul>
            {{ range $children.ByLinkTitle }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      </nav>
    </section>
  </article>
  <nav>{{ partial "pagination.html" . }}</nav>
{{ end }}